<h2>My Students</h2>

<div>
  <label for="new-lesson">Student name: </label>
  <input id="new-lesson" #lessonName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(lessonName.value); lessonName.value=''">
    Add student
  </button>
</div>

<ul class="lessons">
  <li *ngFor="let student of students">
    <a routerLink="/students/detail/{{student.id}}">
      <span class="badge">{{student.fullName}}</span>
    </a>
    <button type="button" class="delete" title="delete student" (click)="delete(student)">x</button>
  </li>
</ul>
